.dojb {
    background: url(../img/logo/do_logo.jpg) no-repeat top center;
    background-size: cover;
    min-height: 512px; }
.about-content p:hover{
    color: #4e555b;
}
.FAST {
    background: url(../img/logo/FAST_logo.jpg) no-repeat top center;
    background-size: cover;
    min-height: 512px; }
.mzh {background: url(../img/logo/mzh_logo.jpg) no-repeat top center;
    background-size: cover;
    min-height: 512px;}
.jlyh {
    background: url(../img/logo/jlyh_logo.jpg) no-repeat top center;
    background-size: cover;
    min-height: 512px;
}
.jr {
    background: url(../img/logo/jr_logo.jpg) no-repeat top center;
    background-size: cover;
    min-height: 512px;
}
.pw {
    background: url(../img/logo/pw_logo.jpg) no-repeat top center;
    background-size: cover;
    min-height: 512px;
}
.tgyh {
    background: url(../img/logo/tgyh_logoA.jpg) no-repeat top center;
    background-size: cover;
    min-height: 512px;
}
.rl {background: url(../img/logo/rl_logo.jpg) no-repeat top center;
    background-size: cover;
    min-height: 512px;}
.gza {background: url(../img/logo/gza_logo.jpg) no-repeat top center;
    background-size: cover;
    min-height: 512px;}

.xgjc {background: url(../img/logo/xgjc_logo.jpg) no-repeat top center;
    background-size: cover;
    min-height: 512px;}

